.price {
  color: red;
  font-size: 24px;
}

.button {
  width: 100%;
}

.image {
  max-width: 50%;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  justify-content: center;
  display: flex;
}

.div {
  justify-content: center;
  display: flex;
}
