.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  width: 350px;
  padding: 24px;
  background-color: var(--cinza);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error {
  color: red;
  font-size: 14px;
}

.button {
  width: 100%;
}
